body {
    padding: 10px;
}

header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
}

.list {
    margin-top: 10px;
}

.sort-up:after {
    content: ' ↑';
}
.sort-down:after {
    content: ' ↓';
}

[data-orderby] {
    cursor: pointer;
}

.login {
    width: 300px;
    margin: 10px auto 0;
}

.form-group input,
.form-group textarea {
    width: 100%;
}

.btn-status {
    float: right;
    margin-left: 15px;
}